*{
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
nav .navigation ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
nav .navigation .item{
    padding: 0px 20px;
    font-size: 1.2rem;
    color: white;
}

/* hero-section */
.hero{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    height: 60vh;
    width: 90%;
    margin: auto;
   
}
.hero-left{
    margin-top: 220px;
    
   
}
.hero-left h1 {
    color: white;
    font-size: 2.5rem;
}
.hero-left p{
    color: white;
    font-size: 1.5rem;
}
.hero-right img{
    position: absolute;
    height: 500px;
    width: 760px;
}
#bg{
    background: #0000FF;
}

/* companies */

.companies{
   font-size: 1.5rem;
   margin-top: 20px;
   padding: 0 20px 10px 70px;
   
  
}
.companies a{
    text-decoration: none;
    padding:  0 20px 10px 0px;
}

/* mid-1-section */
.mid{
    width: 90%;
    margin: auto;
}
.api{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px,1fr));
   
}
.mid h1{
    font-size: 2.2rem;
    padding: 20px 0;
}
.card{
    padding: 15px 0;
}
.card h4{
    font-size: 20px;
}
.card p{
    font-size: 15px ;
}

/* blogs */

.blog-head{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    margin-top: 30px;
   
    
}




.blog-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px,1fr));
    gap: 1.5rem;
    width: 90%;
    margin: auto;
    margin-top: 40px;
}
.blog-left-1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px,1fr));
}
.blog-right-1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px,1fr));
}
.blog-image{
    width: 300px;
    height: 300px;
   
}
.blog-left-content p{
    font-size: 1.2rem;
    padding-bottom: 35px;
}

/* questions */
.question{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(520px,1fr));
    width: 90%;
    margin: auto;
    margin-top: 30px;
}
.question-left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    
}
.question-left h1{
    font-size: 2.5rem;
    padding-bottom: 20px;
}
.question-left p{
    font-size: 1.2rem;
    padding-bottom: 20px;
}
.question-left h4{
    padding-bottom: 20px ;
}
.question-left button{
    height: 40px;
    width: 110px;
    color: white;
    background: #0000FF;
    border: none;
}
.question-right img{
    width: 690px;
}

/* downloads */
.download{
    display: flex;
    justify-content:space-between ;
    flex-wrap: wrap;
    width: 90%;
    margin: 50px auto;
    
}
.download-left h3{
    font-size: 2.5rem;
}
.download-right{
    position: relative;
}
.download-right input{
    height: 35px;
    width: 400px;
    border-radius: 15px;
    font-size: 1.2rem;
    padding-left: 20px;
   border: none;
   background: #b7b7ed;
   
}
.download-right button{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 36px;
    width: 110px;
    border-radius: 15px;
    border: none;
    color: white;
    background: #0000FF;
}
span{
    font-family:Arial, Helvetica, sans-serif;
}

/* footer-section */

footer{
    background: #0000FF;
}
.main-footer{
   
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;

    width: 90%;
    margin: auto;
    margin-top: 30px;
    height: 200px;
   
   
}
.footer-item ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.footer-item ul li{
    list-style: none;
    padding: 10px 20px 0 0;
    color: white;
}
.footer-left{
    padding-top: 50px;
}
.footer-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-top: 50px;
}
.faq ul{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.faq ul li{
    color: white;
}
.faq-links{
    list-style: none;
    padding: 10px 20px 0 0;
}
.social-icons img{
    padding: 10px 20px 0 0;
}












































@media only screen and  (max-width: 1208px){
    .question-right{
        display: none;
    }
    footer{
        background: #0000FF;
    }
}




@media only screen and  (max-width: 1100px){
    .hero{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(520px,1fr));
        width: 100%;
        height: 65vh;
       
    }
    .hero-left{
        margin-top: 10px;
    }
    .hero-right img{
        margin-top: 20px;
       position:static;
        height: 500px;
        width: 770px;
    }
    .api{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
}



}
@media only screen and (max-width: 600px){
    .hero{
        height: 100vh;
    }
    #bg{
        background: none;
    }
    nav .navigation .item{
        color:#0000FF ;
    }
    .hero-left h1 {
        color: #0000FF;
        font-size: 2.5rem;
    }
    .hero-left p{
        color: #0000FF;
        font-size: 1.5rem;
    }
    footer{
        background: none;
    }
    .faq ul li{
        color: black;
    }
    .footer-item ul li{
        color: black;
    }
    .footer-item ul {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .main-footer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
        width: 100%;
        height: 50vh;
      
        
       
    }
    .footer-right{
        display: flex;
        align-items: flex-start;
    }
    
}

